<!-- Estendemos do template base -->
{% extends "base.html" %}

<!-- Bloco que define o <title></title> da nossa página -->
{% block title %}Página Inicial{% endblock %}

<!-- Bloco de conteúdo da nossa página -->    
{% block conteudo %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="card-body">
            <form method="post">
              {% csrf_token %}

              {{ form }}

              <br>
              <div class="form-group">
                <div class="text-center"> 
                  <button type="submit"  class="btn btn-primary" >Salvar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}