<!-- Estendemos do template base -->
{% extends "base.html" %}

<!-- Bloco que define o <title></title> da nossa página -->
{% block title %}Página Inicial{% endblock %}

<!-- Bloco de conteúdo da nossa página -->    
{% block conteudo %}
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cadastrar Cliente</h5>
          <p class="card-text">
            Cadastre aqui um novo <code>Cliente</code>.
          </p>
          <a href="{% url 'cliente:cadastrar' %}" class="btn btn-primary">
            Novo Cliente
          </a>
        </div>
      </div>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Listar Clientes</h5>
          <p class="card-text">
            <code>Lista</code>  de Clientes.
          </p>
          <a href="{% url 'cliente:lista' %}"
              class="btn btn-primary">
            Lista
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Exportar Clientes</h5>
          <p class="card-text">
            <code>Exportar</code> Lista de Clientes.
          </p>
          <a href="{% url 'cliente:exportar' %}"
              class="btn btn-primary">
            Exportar
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}