<!-- Estendemos do template base -->
{% extends "base.html" %}

<!-- Bloco que define o <title></title> da nossa página -->
{% block title %}Lista Cliente{% endblock %}

<!-- Bloco de conteúdo da nossa página -->    
{% block conteudo %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="card-body">
            {% for Cliente in Clientes  %}
                <a href="{% url 'cliente:edita' Cliente.id %}">
                    <b>Nome :</b> {{ Cliente.nome }}
                <a>
                <br><br>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}